* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  background: #fff;
}
.controlers {
  height: 70px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid rgb(190, 190, 190);
  background: rgb(243, 243, 255);
}
button {
  border: 1px solid rgb(136, 136, 255);
  padding: 0.3rem 0.7rem;
  color: rgb(32, 36, 255);
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 3px;
}
